<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  
  <configSections>
    <section 
      name="RewriterConfig" 
      type="Spring.Web.UrlRewriting.Config.RewriterConfigSerializerSectionHandler, Spring.Web.UrlRewriter" />
  </configSections>
  
  <connectionStrings></connectionStrings>

  <RewriterConfig>
    <inputRules>
      <!-- Rules for dynamic content -->
      <rule>
        <LookFor>~/p/(.*)\.aspx</LookFor>
        <SendTo>~/pages.aspx?p=$1</SendTo>
      </rule>
    </inputRules>
  </RewriterConfig>

  <system.web>

    <membership defaultProvider="XmlMembershipProvider">
      <providers>
        <add name="XmlMembershipProvider" type="XmlMembershipProvider" description="XML membership provider" xmlFileName="~/App_Data/users.xml"/>
      </providers>
    </membership>
    
    <siteMap defaultProvider="smNav" enabled="true" >
      <providers>
        <add
          name="smNav"
          siteMapFile="~/Web.Sitemap"
          type="System.Web.XmlSiteMapProvider"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <pages styleSheetTheme="skin" />
    
    <customErrors mode="Off"/>
    
    <httpModules>
      <add 
        type="Spring.Web.UrlRewriting.UrlRewriterModule, Spring.Web.UrlRewriter" 
        name="ModuleRewriter" />
    </httpModules>
    
		<globalization 
	      culture="auto" 
	      uiCulture="auto"
	      requestEncoding="utf-8" 
	      responseEncoding="utf-8" 
		/>

		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    
		<authentication mode="Windows"/>
    
	</system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="from_address@yourdomain.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="SignInPassword" value="WebFoundations" />
    <add key="EmailAddress" value="to_address@yourdomain.com" />
    <add key="EmailSubject" value="Mail from Website" />
    <add key="DefaultLanguage" value ="en"/>   
  </appSettings>
  
</configuration>
