<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">

  <configSections>
    <section
      name="RewriterConfig"
      type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter"/>
  </configSections>
  
  <connectionStrings></connectionStrings>
  
  <RewriterConfig>
    <Rules>
      <RewriterRule>
        <LookFor>~/content/(\S*)\.aspx</LookFor>
        <SendTo>~/default.aspx?page=$1</SendTo>
      </RewriterRule>
    </Rules>
  </RewriterConfig>
  
	<system.web>
    
    <siteMap defaultProvider="smNav" enabled="true">
      <providers>
        <add
          name="smNav"
          siteMapFile="~/Web.Sitemap"
          type="System.Web.XmlSiteMapProvider"
          securityTrimmingEnabled="true" />
      </providers>
    </siteMap>
    
    <pages styleSheetTheme="Antique" />
    
    <customErrors mode="Off"/>
    
    <httpModules>
      <add
        type="URLRewriter.ModuleRewriter, URLRewriter"
        name="ModuleRewriter"/>
    </httpModules>
    
		<globalization 
	      culture="en-GB" 
	      uiCulture="en-GB"
	      requestEncoding="utf-8" 
	      responseEncoding="utf-8" 
		/>

		<compilation debug="true" defaultLanguage="c#">
			<assemblies>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    
		<authentication mode="Windows"/>
    
	</system.web>
  
  <system.net>
    <mailSettings>
      <smtp from="relax@outdoorholidayspain.com">
        <network host="localhost" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="EmailAddress" value="relax@outdoorholidayspain.com" />
    <add key="EmailSubject" value="Mail from relax@outdoorholidayspain.com" />
  </appSettings>
  
</configuration>
